$icon-font-path: "../fonts/";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}

.fade {
    -webkit-animation: 500ms fade_out;
     -moz-animation: 500ms fade_out;
       -o-animation: 500ms fade_out;
        animation: 500ms fade_out;
}

/* Bubblemaps exit animation. TODO: look for a way to move this into a separate CSS file.*/

@-webkit-keyframes fade_out { from { opacity:1.0; } to { opacity:0; }  }
   @-moz-keyframes fade_out { from { opacity:1.0; } to { opacity:0; }  }
     @-o-keyframes fade_out { from { opacity:1.0; } to { opacity:0; }  }
        @keyframes fade_out { from { opacity:1.0; } to { opacity:0; }  }
