$icon-font-path: "../fonts/";
$red: #DD1C1A;
$blue: #0A5796;
$gold: #F8FA5F;
$grey: #CCDBDC;

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    font-size:12px;
    border-top: 1px solid #e5e5e5;
    line-height:14px;
    text-align:right;
}

.container-narrow > hr {
    margin: 30px 0;
}


.container{
    max-width:968px;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}

circle.selection_target {
    fill: $red;
    z-index: -100;
}

image.selection_target {
    z-index:-99;
}

circle.tag {
    fill: $blue;
}

circle.selected {
    fill: $red;
}

.fade {
    -webkit-animation: 500ms fade_out;
     -moz-animation: 500ms fade_out;
       -o-animation: 500ms fade_out;
        animation: 500ms fade_out;
}

/* Bubblemaps exit animation. TODO: look for a way to move this into a separate CSS file.*/

@-webkit-keyframes fade_out { from { opacity:1.0; } to { opacity:0; }  }
   @-moz-keyframes fade_out { from { opacity:1.0; } to { opacity:0; }  }
     @-o-keyframes fade_out { from { opacity:1.0; } to { opacity:0; }  }
        @keyframes fade_out { from { opacity:1.0; } to { opacity:0; }  }
